.contacto{
    background-color: #000000;}

.co{
    header{
        background-image: linear-gradient(#464646, #000000);
        padding: 20px;

        p{
            text-align: center;
            color: #ffffff;
        }

        h1{
            text-align: center;
            color: #ffffff;
            padding-top: 50px;
        }
    }

    main{
        margin: 50px 30px;
        padding: 0 1.5em;

        .formulario{
            display: grid;
            grid-template-columns: 75%;
            grid-gap: 10px;
            align-items: center;
            justify-content: center;
        }
        .grid{
            box-shadow: 0 0 20px 0 white;
        }
        .izq{
            background-image: linear-gradient(#464646, #2d2d2d);
            display: grid;
            padding: 20px;
            

            p{
                color: white;
                text-align: center;
            }
            
            .nombre{
                display: flex;
                flex-direction: column;
            }

            textarea{
                padding: 0.8em 1em;
            }
            
            .dia,.mes{
                width: 10px;
        
                padding: 0;
            }
            
            .year{
                width: 20px;
                padding: 0;
            }
            .enviar{
                text-align: center;
                padding: 0.5em;
                background-color: red;
            }
        }
    }

    form input,textarea {
        padding: .4em;
        border: none;
        background: none;
        outline: 0;
        color: white;
        border-bottom: 2px solid red;
    }


    .more-inf{
        padding: 10px;
        color: #ffffff;
        background-color: #000000;
        justify-items: left;

        li,ul{
            list-style: none;
            font-size: 13px;
        }
    }
}