/*general*/
nav{
    background-color: red;
    position: fixed;
    z-index: 10000;

    li
    {cursor: pointer;;}

    img{
        height: 40px;
        width: 40px;
        margin-right: 16px
    };
    .navbar-nav .nav-link{
        text-align: center;
    }

    .navbar-brand{
        margin: 0;
    }
}

h1{font-size: 30px;}
h2{font-size: 25px;}
h3{ font-size: 20px;}
h4{font-size: 15px;}
h5{font-size: 13px;}
h6{font-size: 10px;}


p{font-size: 10px;}

$sombreados: (
    negro: 0px 0px 8px rgb(0, 0, 0),
    gris: 0px 0px 8px rgb(124, 124, 124),
    blanco: 0px 0px 8px rgb(255, 255, 255),
    rojo: 0px 0px 8px rgb(255, 0, 0),
);


@each $sombra, $color in $sombreados {
    .sombreado-#{$sombra} {
        text-shadow: $color
    }
}

@mixin size-img ($alto, $ancho, $redondez) {
    height: $alto;
    width: $ancho;
    border-radius: $redondez;
}

.negrita{font-weight: bolder;}

/* fondo robado de https://www.svgbackgrounds.com/ */
body{
background-color: #A9A9A9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23A9A9A9' cx='50' cy='0' r='50'/%3E%3Cg fill='%23a1a1a1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23989898' cx='50' cy='100' r='50'/%3E%3Cg fill='%23909090' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23878787' cx='50' cy='200' r='50'/%3E%3Cg fill='%237f7f7f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23767676' cx='50' cy='300' r='50'/%3E%3Cg fill='%236e6e6e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23656565' cx='50' cy='400' r='50'/%3E%3Cg fill='%235d5d5d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='500' r='50'/%3E%3Cg fill='%234c4c4c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23444444' cx='50' cy='600' r='50'/%3E%3Cg fill='%233b3b3b' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23333333' cx='50' cy='700' r='50'/%3E%3Cg fill='%232a2a2a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='800' r='50'/%3E%3Cg fill='%23191919' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111111' cx='50' cy='900' r='50'/%3E%3Cg fill='%23080808' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

