.in{
    
    header{
    padding: 10px;
    margin-bottom: 50px;
   
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    box-shadow: 0px 2px 25px 25px rgba(0,0,0,1);
        
        h1{
        font-family: 'Goblin One', cursive;
        padding-top: 55px;
        color: white;
        text-align: center;
        }
        
        p{
        padding-bottom: 20px;
        color: white;
        text-align: center;
        }
    }

    .container{
        grid-gap: 20px;
        text-align: center;
        color: #ffffff;

        .us-right{ 

            .pedi-retira{background: url(../images/foto-pedi_y_retira.jpg);}

            .cuidados{background: url(../images/foto-cuidados.jpg);}

            .ingredientes{background: url(../images/foto-ingredientes.jpg);}

            .fiesta{background: url(../images/foto-fiesta.jpg);}

            .pedi-retira,.cuidados,.ingredientes,.fiesta{
                background-repeat: no-repeat;
                background-size:cover;
                border-radius: 15px;
            
                min-width: 20vh;
                min-height: 15vh;
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            
                margin: 5px;
            }
        }

        .us-left{
            background: url(../images/foto-app.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            border-radius: 25px;
        
            min-width: 40vh;
            min-height: 30vh;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    main{
        padding: 10px; 

        

        .novedades{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;

            h2{transition: .7s ease all;
                body.dark & {
                    color: #ffffff;
                    background:#131313;
                    box-shadow: 0 0 20px 0 rgb(75, 75, 75);}
            }

            p{
                color: black;
    
                body.dark & {
                    color: #ffffff;
                    }
                
            }
        }

        h2{
            padding: 5px;
            margin: 20px;
            background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
            box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);}
            transition: .7s ease all;
            body.dark & {
                color: #ffffff;
                background:#131313;
                box-shadow: 0 0 20px 0 rgb(75, 75, 75);}

        h3{
            transition: .7s ease all;
            padding: 5px;
            margin: 20px;
            color: black;
            
            body.dark & {
                color: #ffffff;
                }
        }

    
        .img-novedades{
            margin: 5px;

            @include size-img(100px, 100px, 0%)
            
        }
        
        .novedades-titulo{
            transition: .7s ease all;
            background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
            box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
            margin: 20px 10px;
            padding: 5px 10px;
            
        
            animation: rebote-abajo 0.7s;


            body.dark & {
            background:#131313;
            box-shadow: 0 0 20px 0 rgb(75, 75, 75);}
        }

        .extra-promo{
            animation: rebote-derecha 0.7s;
        }
    }


.pato{
    transition: .7s ease all;
    body.dark & {
        background:#131313;
        box-shadow: 0 0 20px 0 rgb(75, 75, 75);
            }
}

    .encontrarnos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        
        .texto-ubicaciones{
            display: flex;
            flex-direction: column;

            h3{
                transition: .7s ease all;
            background:#ffffff;
            box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);

            
            body.dark & {
            background:#131313;
            box-shadow: 0 0 20px 0 rgb(75, 75, 75);
                }
            }

            .lista-tel{
                transition: .7s ease all;
                padding: 5px;
                margin-right: 40px ;
                margin-left: 20px;
                font-size: 15px;
                background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
                box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
                list-style: none;
                
                body.dark & {
                background:#131313;
                box-shadow: 0 0 20px 0 rgb(75, 75, 75);}

            li, ul{
                transition: .7s ease all;
                color: black;

                body.dark & {
                color: #ffffff;}
            }

            h2{
                transition: .7s ease all;
                body.dark & {
                    color: #ffffff;
                    background:#131313;
                    box-shadow: 0 0 20px 0 rgb(75, 75, 75);}
            }
            }
        }
    }

    iframe{
        width: 300px;
        height: 200px;
        align-self: center;
    }
} 