/* paleta de colores

#FF0000 Rojo dominante
#c9afa9 Marron claro (fondos)
#ffffff Blanco (secundario)
#000000 negro (terciario, texto, algun que otro borde)

clases: en este archivo, para cada pag le asigne una clase conteniendo las 2 primeras letras de la misma, menu=me, index=in...*/

 
/*general*/
nav{
    background-color: red;
    position: fixed;
    z-index: 1;
}

nav li{
    cursor: pointer;;
}

/* fondo robado de https://www.svgbackgrounds.com/ */
body{
    background-color: #A9A9A9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23A9A9A9' cx='50' cy='0' r='50'/%3E%3Cg fill='%23a1a1a1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23989898' cx='50' cy='100' r='50'/%3E%3Cg fill='%23909090' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23878787' cx='50' cy='200' r='50'/%3E%3Cg fill='%237f7f7f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23767676' cx='50' cy='300' r='50'/%3E%3Cg fill='%236e6e6e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23656565' cx='50' cy='400' r='50'/%3E%3Cg fill='%235d5d5d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='500' r='50'/%3E%3Cg fill='%234c4c4c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23444444' cx='50' cy='600' r='50'/%3E%3Cg fill='%233b3b3b' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23333333' cx='50' cy='700' r='50'/%3E%3Cg fill='%232a2a2a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='800' r='50'/%3E%3Cg fill='%23191919' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111111' cx='50' cy='900' r='50'/%3E%3Cg fill='%23080808' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}


footer{
    background-image: linear-gradient(#808080,#5f5f5f);
    padding: 5px 10px;
    margin: 0;
}

.foot .app-spam img{
    width: 50px;
    height: 50px;
}
.foot .app-spam button{
    width: 50px;
    height: 25px;
    font-size: 7px;
}
.app-spam{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.redes i{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.legal{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
}

h5{
    font-size: 13px;
}

h6{
    font-size: 10px ;
}

p{
    font-size: 10px;
}

.negrita{
    font-weight: bolder;
}
/*-------------------------------------- index --------------------------------------*/

.in header{
    padding: 10px;
    margin-bottom: 50px;
   
    background-image: url(images/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    box-shadow: 0px 2px 25px 25px rgba(0,0,0,1);
}

.in header h1{
    padding-top: 50px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 6px rgb(207, 206, 206)
}

.in header p{
    padding-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 6px rgb(207, 206, 206)
}

.in main{
    padding: 10px; 
}


.in .container{
    grid-gap: 20px;
    text-align: center;
    color: #ffffff;
  }
  

.in section .container{
    gap: 20px;
}

  .us-right h6{
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }

  .us-right p{
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }

  .us-right .pedi-retira{
    background: url(images/foto-pedi_y_retira.jpg);
    
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;

    min-width: 20vh;
    min-height: 15vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 5px;
  }
  
  .us-right .cuidados{
    background: url(images/foto-cuidados.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;

    min-width: 20vh;
    min-height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 5px;
  }

  .us-right .ingredientes{
    background: url(images/foto-ingredientes.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;

    min-width: 20vh;
    min-height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 5px;
  }

  .us-right .fiesta{
    background: url(images/foto-fiesta.jpg);

    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;

    min-width: 20vh;
    min-height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 5px;
  }
  
  
  .us-left{
    background: url(images/foto-app.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 25px;

    min-width: 40vh;
    min-height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .us-left h5{
    text-shadow: 0px 0px 6px rgba(255,0,0,1);
  }

  .us-left p{
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }


.in h2{
    padding: 5px;
    margin: 20px;

    background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
}

.in h3{
    padding: 5px;
    margin: 20px;
}

.in .img-novedades{
   width: 100px;
   height: 100px;
   margin: 5px;
}

.in .novedades-titulo{
    background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    margin: 20px 10px;
    padding: 5px 10px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);

    animation: rebote-abajo 0.7s;
}

.in .extra-promo{
    animation: rebote-derecha 0.7s;
}


.in .novedades{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}


.in .encontrarnos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.in .texto-ubicaciones{
    display: flex;
    flex-direction: column;
}

.in .texto-ubicaciones h3{
    background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
}

.lista-tel{
    padding: 5px;
    margin-right: 40px ;
    margin-left: 20px;
    font-size: 15px;
    background: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);
    list-style: none;
}
       
.in iframe{
    width: 300px;
    height: 200px;
    align-self: center;
}

/*-------------------------------------- menu --------------------------------------*/

.me h1{    
    padding: 10px;
    margin: 10px;

    background-color: white;

    text-align: center;
}

.me p{
    padding: 10px;
    margin: 15px;
    text-align: center;
    background-color: white;
}

.me{
    margin: 60px 10px 30px;
}

.me table {
    padding: 5px;
    width: 100%;
    height: 1000px;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
}

/* le da color a los inpares */
.me tr:nth-child(even){
    background-color: #e8e8e8;}

.me thead{
    height: 50px;
    position: sticky;
    top: 50px;
    font-size: 15px;
    
    background-color: red;
}


/*--------------------------------------contacto--------------------------------------*/

.contacto{
background-color: #000000;
}

.co header{
    background-image: linear-gradient(#464646, #000000);
    padding: 20px;
}

.izq{
    display: grid;
}

.co main{
    margin: 50px 30px;
    padding: 0 1.5em;
}

.co .izq{
    background-image: linear-gradient(#464646, #2d2d2d);
}
.co .formulario{
    display: grid;
    grid-template-columns: 75%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.nombre{
    display: flex;
    flex-direction: column;
}


.co aside{
    background-color: #000000; 
}

.co h1{
    padding-top: 50px;
    text-align: center;
    color: white;

    text-shadow: 0px 0px 6px rgb(201, 201, 201)
}

.co .izq p{
    color: white;
    text-align: center;
}

.co header p{
    text-align: center;
}


.co .dia,.co .mes{
    width: 10px;
}

.co .year{
    width: 20px;
}


.co form input, .co textarea {
    padding: .6em;
    border: none;
    background: none;
    outline: 0;
    color: white;
    border-bottom: 2px solid red;
}

.co textarea{
    padding: 0.8em 1em;
}


.co form .enviar{
    text-align: center;
    padding: 1em;
    background-color: red;
}


.co .grid{
    box-shadow: 0 0 20px 0 white;
}

.co .more-inf{
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    justify-items: left;
}
.co .more-inf li, .co .more-inf ul{
    list-style: none;
    font-size: 13px;
}


/*-------------------------------------- delivery --------------------------------------*/
.de{
    margin:100px 10px 100px;
    background-color: white;
}


.de h1{
    padding-top: 20px;
    text-align: center;
}

.de h3{
    text-align: center;
}

.de .empresas-del{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.de main img{
    margin: 10px;
    border-radius: 15%;
    width: 150px;
    height: 100px;
}

.de .rappi{
    animation: rebote-izquierda 0.7s;}

.de .pedidosya{
    animation: rebote-derecha 0.7s;
}
/*-------------------------------------- equipo --------------------------------------*/
.eq{
    margin:65px 20px 30px;
    background-color: white;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eq img{
    padding: 20px;
}

.eq h1{
    text-align: center;
}

.eq .container img{
    justify-content: center;
    width: 250px;
}


.eq h3, .eq p{
    text-align: center;
    color: #000000;}




/* escritorio */
@media screen and (min-width: 768px)
{   nav .navbar-brand{
    font-size: 1.75em;
    font-weight: 500 ;}

    nav .nav-item{
        font-size: 1.25em ;
    }

    footer{
        padding: 20px 30px;
    }
    .foot .app-spam img{
        width: 100px;
        height: 100px;
    }
    .foot .app-spam button{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }

    .legal{
        padding: 20px;
        flex-direction: row;
    }

    .foot .redes i{
        font-size: 30px;
    }

/*-------------------------------------- index --------------------------------------*/
    .in header h1{
        padding: 95px 0 0 0;

    }
    .in header p{
        margin: 0 30px;
        padding-bottom: 40px;
    }

    .in h2{
        padding-left: 15px;
    }
    .in h3{
        padding-left: 10px;
        margin: 10px;
    }

    .in .img-novedades{
        width: 200px;
        height: 200px;   

        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 30px;
     }

     .in .novedades-titulo{
        margin: 50px;
        padding: 10px 20px;
    }
    .lista-tel{
        padding: 5px;
        font-size: 20px;
    }

    .in iframe{
    width: 600px;
    height: 450px}


    .in .encontrarnos{
        flex-direction: row;
    }

    .in .texto-ubicaciones{
        margin: 50px;
}

.in .extra-promo{
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: #2d2d2d;
    margin: 50px 20px;
    padding: 10px;
}

.in .promos .anuncio{
    background-color: #464646;
    text-align: center;
}

.in .promos .anuncio p{
    font-size: 15px;
}

.in .promos img{
    width: 100%;
}
.main-index{
    display: grid;
    grid-template-columns: 80% 20%;
}
/*-------------------------------------- menu --------------------------------------*/

.me{
    margin: 100px;
}

.me h1{
    padding: 20px;
    margin: 20px ;
}

.me p{
    padding: 20px;
    margin: 20px
}


.me thead{
    height: 80px;
    top: 50px;
    font-size: 20px;
}
.me table {
    font-size: 20px;
}

/*-------------------------------------- delivery --------------------------------------*/
.de{
    margin:100px 50px 100px;
}

.de main img{
    margin: 50px 10px 50px ;
    width: 300px;
    height: 200px;}


 /*-------------------------------------- equipo --------------------------------------*/
 .eq{
     margin:100px 30px 100px;
}

.eq .container img{
    width: 400px
};

/*-------------------------------------- contacto --------------------------------------*/
.co header{
    padding: 50px;
}

.co main{
    margin: 100px 50px;
}

.co .formulario{
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.co .dia,.co .mes{
    width: 40px;
}

.co .year{
    width: 60px;}

.co textarea{
    padding: 2em 1em;
    }

.co .more-inf li, .co .more-inf ul{
    list-style: none;
    font-size: 15px;}
    
h1{
    font-size: 50px;}
h2{
    font-size: 45px;}
h3{
    font-size: 40px;}
h4{
    font-size: 35px;}
h5{
    font-size: 30px;}
h6{
    font-size: 25px;}
p{
    font-size: 20px;}
}


/* use este para unos ajustes  extra */
@media screen and (min-width: 1024px)
{.co .grid{
        display: grid;
        grid-template-columns: 75% 25%;}
    
 .in .img-novedades{
         width: 300px;
         height: 300px;   
         margin-left: 60px;}
}

/* aca desapareci todo contenido excesivo para movil/tablet, dejando esa informacion solamente para dispositivos mas grandes. */

@media screen and (max-width: 767px)
{
.extra-promo{
        margin: 0;
        padding: 0;
        display: none;}

.promos{
        display: none;}
}

@media screen and (max-width: 1023px)
{.extra-text{
    display: none;}
}


@keyframes rebote-abajo {
        0% {
          transform: translateY(100vw);
          opacity: 0;
        }
        
        50% {
          transform: translateY(-20px);
          opacity: 0.5;
        }
        
        70% {  
          transform: translateY(10px);  
          opacity: 1;  
        }
}

@keyframes rebote-izquierda{
 
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    
    50% {
      opacity: 1;
      transform: translateX(30px);
    }
    
    70% {
      transform: translateX(-10px);   
    }
    
  }

  @keyframes rebote-derecha{
 
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    
    50% {
      opacity: 1;
      transform: translateX(-30px);
    }
    
    70% {
      transform: translateX(10px);   
    }
    
  }

